<link rel="stylesheet" href="/css/flash.css" />

<!-- flash Success message -->
<% if (success && success.length) { %>
<div
  id="alert-message"
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= success %>
</div>
<% } %>

<!-- flash Error message -->
<% if (error && error.length) { %>
<div
  id="alert-message"
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= error %>
</div>
<% } %>

<script src="/js/flash.js"></script>
