<link rel="stylesheet" href="/css/flash.css" />

<!-- flash Success message -->
<% if (success && success.length) { %>
<div
  class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 px-4"
>
  <div id="alert-message" class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
  </div>
</div>
<% } %>

<!-- flash Error message -->
<% if (error && error.length) { %>
<div
  class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 px-4"
>
  <div id="alert-message" class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
  </div>
</div>
<% } %>

<script src="/js/flash.js"></script>
