<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mt-3 mb-2 text-center">Create a New Listing</h3>
    <form
      action="/listings"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <!-- title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <!-- description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <!-- Image File -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input type="file" name="listing[image]" class="form-control" required />
      </div>

      <!-- price -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="1000"
            class="form-control"
            min="0"
            required
          />
          <div class="invalid-feedback">Price should be valid.</div>
        </div>

        <!-- country -->
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
      </div>

      <!-- location -->
      <div class="mb-4">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Gandhinagar, Gujarat"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid.</div>
      </div>

      <button class="btn btn-dark mb-4 d-grid col-md-3 mx-auto add-btn">Add</button>
    </form>
  </div>
</div>
