@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* --- index.ejs & show.ejs --- */
/* Cards */
.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

/* Card Effect - using nesting method for ":hover"  */
.card-img-overlay {
  opacity: 0;

  &:hover {
    opacity: 0.1;
    background-color: white;
  }
}

/* ---- Media Query ---- */
/* @media (width <= 768px) {
  
}

@media (width > 768px) {

} */
