<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <h1 class="mb-4 text-center">Login</h1>
  <div
    class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 px-4"
  >
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <!-- username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required />
      </div>
      <!-- password -->
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <div class="form-password form-control">
          <input type="password" name="password" id="password" class="form-control" required />
          <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-success px-4">Log in</button>
      </div>
    </form>
  </div>
</div>
